<form method="get" action="/">
    <button type="submit" name="getAllRecords" size="28">ПОЛУЧИТЬ ВСЕ ЗАПИСИ</button>
    <button type="submit" name="getByID" size="28">ПОЛУЧИТЬ ЗАПИСИ ПО ID</button>
    <button type="submit" name="getByFieldValue" size="28">ПОЛУЧИТЬ ЗАПИСИ ПО ЗНАЧЕНИЮ ПОЛЯ</button>
    <button type="submit" name="saveRecord" size="28">СОХРАНЕНИЕ ЗАПИСИ</button>
    <button type="submit" name="deleteRecord" size="28">УДАЛЕНИЕ ЗАПИСИ</button></p>
</form>