<form method="get" action="/">
    <input size="28" name="input" placeholder="ID, логин, сообщение для поиска"/>
    <input type="datetime-local" id="localdate" size="28" name="date_field" placeholder="Дата и время"/>
    <label> Выберете по какому столбцу искать:
    <select name="action">
        <option value="ID_act">ID</option>
        <option value="log_act">Логин</option>
        <option value="date_act">Дата и время</option>
        <option value="mes_act">Сообщение</option>
    </select>
    </label>
    <button type="submit" size="28">ВЫПОЛНИТЬ</button></p>
</form>