<form method="get" action="/">
    <input size="28" name="ID_save" placeholder="ID"/>
    <input size="28" name="name_save" placeholder="Логин"/>
    <input type="datetime-local" id="localdate" size="28" name="date_save" placeholder="Дата и время"/>
    <input size="28" name="message_save" placeholder="Сообщение"/></p>
    <select name="action">
        <option value="addRecords">ДОБАВИТЬ ЗАПИСЬ</option>
        <option value="updateRecords">ОБНОВИТЬ ЗАПИСЬ</option>
    </select>
    <button type="submit" size="28">ВЫПОЛНИТЬ</button></p>
</form>